# Получатель Slack
ALERTMANAGER_SLACK_API_URL=
ALERTMANAGER_SLACK_CHANNEL=C0123456789

# Получатель email
ALERTMANAGER_SMTP_SMARTHOST=smtp.example.com:587
ALERTMANAGER_SMTP_FROM=alerts@example.com
ALERTMANAGER_SMTP_USERNAME=alerts@example.com
ALERTMANAGER_SMTP_PASSWORD=
ALERTMANAGER_EMAIL_TO=oncall@example.com
